NODE_ENV=development
PORT=8000

MONGO_URI=mongodb+srv://<user>:<dbpassword>@<cluster>.mongodb.net/<dbname>?appName=<cluster>

JWT_ACCESS_SECRET=your_super_long_random_access_secret_32+chars
JWT_REFRESH_SECRET=your_different_long_random_refresh_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

CLIENT_URL=http://localhost:5173 # your vite frontend url (for CORS)