NODE_ENV=development

CLIENT_URL=
BACKEND_URL=
PORT=

MONGO_URI=

ENCRYPTION_KEY=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

RESEND_API_KEY=
EMAIL_FROM=

BILLPLZ_API_URL=
BILLPLZ_API_KEY=
BILLPLZ_COLLECTION_ID=
BILLPLZ_CALLBACK_URL=
BILLPLZ_REDIRECT_URL=
BILLPLZ_X_SIGNATURE=

EP_CLIENT_ID=
EP_CLIENT_SECRET=
EP_API_URL=
EP_REDIRECT_URI=